p {
    margin: 0;
}

.home-main-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 45px;
}

.gallery {
    width: 100%;
    border-radius: 25px;
    background: #F6F6F6;
    padding: 40px;
    box-sizing: border-box;

    &__ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        box-sizing: border-box;

        @media screen and (max-width: 450px) {
            display: flex;
            flex-direction: column;
        }

        .div-card {
            width: 100%;
        }
    }
}