p {
    margin: 0;
}

.collapse-rentals {
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;

    @media screen and (max-width: 570px) {
        width: 100%;
    }

}

.collapse-about {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;

    @media screen and (max-width: 570px) {
        width: 100%;
    }
}

.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    background-color: #FF6060;
    color: white;
    font-size: 20px;
    height: 50px;
    z-index: 1;
    cursor: pointer;

    @media screen and (max-width: 570px) {
        height: 25px;
        font-size: 12px;
    }

    &__title {
        margin-left: 5px;
    }
}

.chevron {
    margin-right: 5px;
    transform: rotate(0);
}

.chevron.open {
    transform: rotate(-180deg);
    transition: transform 400ms;
}

.chevron.close {
    transform: rotate(0);
    transition: transform 400ms;
}

.wrapper {
    display: flex;
}

.wrapper.open .content {
    max-height: 100%;
    padding: 20px;

    @media screen and (max-width: 570px) {
        padding: 10px;
    }
}

.content {
    max-height: 0;
    background-color: #f6f6f6;
    overflow: hidden;
    color: #ff6060;
    border-radius: 0 0 5px 5px;
    font-size: 14px;
    padding: 0 20px;
    transition: all 0.5s ease-out;

    @media screen and (max-width: 570px) {
        font-size: 12px;
    }
}

.collapse__ul {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 800px;
}