.card {
    height: 100%;

    &__link {
        position: relative;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        height: 100%;
    }

    &__txt {
        position: absolute;
        bottom: 0px;
        color: white;
        max-width: 50%;
        margin: 0 0 10px 10px;
        font-size: 15px;
        font-weight: 500;
    }
}